body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #895D93;
}

header{
    width: 90%;
    height: 50px;
    background-color: #FBFF00;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 10px;
    place-items: center;
}

.logo{
    margin-left: 50px;
    color: #7c2497;
    font-family: "Griffy", system-ui;
    font-weight: 1000;
    font-style: normal;
}

.busca{
    height: 35px;
    width: 500px;
    border-radius: 50px;
    cursor: text;
    border: 3px solid #A45ECD;
    background-color: transparent;
}

.botao-header{
    width: 200px;
}

/* .conta{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 5px solid #A45ECD;
    cursor: pointer;
} */

.carrinho, .conta{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: transparent;
    color: #A45ECD;
    border: 3px solid #A45ECD;
    cursor: pointer;
    margin-right: 10px;
}

.carrinho svg{
    position: relative;
    top: 3.4px;
    right: 2px;
}

.conta svg{
    position: relative;
    top: 2.5px;
    right: 1px;
}

h2{
    color: white;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.produtos{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    width: 100%;
}

.card{
    background-color: #fff;
    border: 3px solid #3F0251;
    border-radius: 25px;
    height: 390px;
    width: 220px;
}

.card img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3{
    font-size: 24px;
    color: #3F0251;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.card span{
    color: #A45ECD;
    text-decoration: line-through;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.card p{
    color: #572063;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    bottom: 25px;
    left: 10px;
}

.card button{
    background-color: #FBFF00;
    color: #572063;
    border: 1px solid #572063;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    bottom: 40px;
    left: 35px;
    padding: 5px 15px;
    transition: 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    width: 150px;
}

.btn-left{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #3F0251;
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;
    place-self: center;
}

.btn-right{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #3F0251;
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;
    place-self: center;
}

.nav-card{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    margin: 20px auto;
}

.sect{
    width: 30px;
    height: 15px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #572063;

}

.sect.active {
    background-color: #FBFF00;
}
