body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #895D93;
}

header{
    width: 90%;
    height: 50px;
    background-color: #FBFF00;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 10px;
    place-items: center;
}

.logo{
    margin-right: 10px;
    color: #7c2497;
}

.busca{
    height: 35px;
    width: 500px;
    border-radius: 50px;
    cursor: text;
    border: 3px solid #A45ECD;
    background-color: transparent;
}

.botao{
}

/* .conta{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 5px solid #A45ECD;
    cursor: pointer;
} */

.carrinho, .conta{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: #A45ECD;
    border: 3px solid #A45ECD;
    cursor: pointer;
    margin-right: 10px;
}

.mais.vendidos{
    display: flex;
    justify-content: center;
}

h2{
    color: white;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.produtos{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.card{
    background-color: #fff;
    border: 3px solid #3F0251;
    border-radius: 25px;
    height: 390px;
    width: 220px;
}

.card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3{
    font-size: 24px;
    color: #3F0251;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.card span{
    color: #A45ECD;
    text-decoration: line-through;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.card p{
    color: #572063;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    bottom: 25px;
    left: 10px;
}

.card button{
    background-color: #FBFF00;
    color: #572063;
    border: 1px solid #572063;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    bottom: 40px;
    left: 35px;
    padding: 5px 15px;
    transition: 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    width: 150px;
}
